<div class="login bgLite mauto size1of2 boxee">
<div class="bgClear ptm pbm"><h2>Welcome to {{site}}!</h2></div>
<div class="bgDark pts pbs"><h2 class="h2 ctlr ctrr">Login</h2></div>
<form method="post" action="{{{redirect}}}">

<div class="pam ptl">
<div class="unit size1of4 txtR">
	<label class="label prm">Username</label>
</div>
<div class="unit size1of4 lastUnit">
	<input type="text" name="user" class="textField" />
</div>
<div class="pts">
	<div class="unit size1of4 txtR">
		<label class="label prm">Password</label>
	</div>
	<div class="unit size1of4 lastUnit">
		<input type="password" name="pass" class="textField" />
	</div>
</div>
<div class="pts">
	<div class="unit size1of4">
		&nbsp;
	</div>
	<div class="unit size1of4 lastUnit">
		<input type="submit" value="Submit" name="login" />
	</div>
</div>
</form>

<h3 class="h3 caution">Caution!</h3>
<p class="caution">For investigational use only. <strong>Not FDA approved</strong> and must <strong>NOT</strong> be used for diagnostic purposes.</p>
</div>
</div>
<div class="pal">&nbsp;</div>