<footer>
<div class="row">
<div class="span2 offset10"><?php echo date("Y-m-d");?></div>
<div class="span2 offset10"><a href="http://www.ipilab.org">Powered by IPI Lab</a></div>
</div>
</footer>
<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript">
$(function(){
		$("input[type='submit']").addClass('btn btn_primary')
	
	});

$(document).ready(function() {
  $(window).keydown(function(event){
    if( event.keyCode == 13 ) {
      event.preventDefault();
      return false;
    }
  });
});
	
</script>
