<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  dir="ltr" lang="en-US">
<head>
<base href="{{base}}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="{{keywords}}" />
<link rel="stylesheet" href="stylesheets/base.css" type="text/css" media="screen" />
<link rel="stylesheet" id="current-theme" href="stylesheets/themes/drastic-dark/style.css" type="text/css" media="screen" />
<title>{{& title}}</title>
</head>
<body>
  <div id="container">
	{{> header}}
    <div id="wrapper" class="wat-cf">
		<div id="box">
		{{> body}}
		</div>
		{{> footer}}
	</div>
  </div>
</body>
</html>