{{#navigation}}<div class="size3of5 unit fxs prs"><ul class="man">{{#navs}}
<li class="floatl pls prs">{{#url}}<a href="{{url}}">{{/url}}{{{name}}}{{#url}}</a>{{/url}}</li>
{{/navs}}</ul></div>
<div class="size2of5 unit lastUnit txtR prs"><ul class="fxs man">{{#results_per_page}}
<li class="floatr pls prs{{^url}} button{{/url}}">{{#url}}<a href="{{url}}">{{/url}}{{{name}}}{{#url}}</a>{{/url}}</li>
{{/results_per_page}}</ul></div>{{/navigation}}
